<h1>
  All coveragegroups
</h1>

<a href="/coveragegroups/new">
  Add a new coveragegroup
</a>

<hr>

<table class="table">
  <tr>
    <th>
      Name
    </th>
  </tr>

  <% @coveragegroups.each do |coveragegroup| %>
  <tr>
    <td>
      <a href="/coveragegroups/<%= coveragegroup.id%>">
        <%= coveragegroup.name %>
      </a>
    </td>
  </tr>
  <% end %>
</table>

<!-- CONVERT COVERAGE GROUPS TO CARDS -->