<h1>
  All companies
</h1>

<a href="/company/new">
  Add a new company
</a>

<hr>

<table class="table">
  <% @companies.each do |company| %>
  <tr>
    <td>
      <a href="/companies/<%=company.id%>">
        <img src="<%=company.logo_src%>"
      </a>
    </td>
  </tr>
  <% end %>
</table>

<!-- CONVERT TO CARDS -->
