<h1>
  All Industries
</h1>

<a href="/industry/new">
  Add a new industry
</a>

<hr>

<table class="table">
  <% @industries.each do |industry| %>
  <tr>
    <td>
      <a href="/industries/<%=industry.id%>">
        <%=industry.name%>
      </a>
    </td>
  </tr>
  <% end %>
</table>

<!-- CONVERT TO CARDS -->